; cli configs
metrics-registry = "https://registry.npmjs.org/"
scope = ""
user-agent = "npm/5.3.0 node/v8.4.0 darwin x64"

; userconfig /Users/myasnikova 1/.npmrc
init.author.email = "omyasn91@gmail.com"
init.author.name = "myasnikova"
rigistry = "https://registry.npmjs.org/"

; node bin location = /usr/local/bin/node
; cwd = /Users/myasnikova 1/my_projects/pb-beta/frontend
; HOME = /Users/myasnikova 1
; "npm config ls -l" to show all defaults.