.listEvent {
	position: relative;
	width: 30%;
	overflow: hidden;
}

.listWrapper {
	position: relative;
	height: 240px; /*TODO добавить внизу туман*/
	overflow: hidden;
	box-sizing: border-box;
}

.listWrapper ul {
	position: absolute;
	list-style: none;
	height: 100%;
	width: 100%;
	top: 0;
	padding: 0;
	margin: 0;
	transition: top 1s;
}

.up, .down {
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
	text-align: center;
	transition: opacity 1s;
}



