:root {
/*------------COLORS-------------------*/
	--text-main-color: #000;




/*------------FONTS-------------------*/
	--h1-size: 40px;
	--h2-size: 32px;
	--h3-size: 18px;
	--text-main-size: 14px;
	--text-small-size: 12px;


/*------------DEFAULTS-------------------*/
	font-family: Proxima Nova, sans-serif;
}